.header {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    text-align: center;
    color: yellow;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}